<div class="jumbotron">
  <% if user_signed_in? %>
    <h1 Welcome back, trusted user!</h1>
    <ul>
      <li><a href="/notebook">Notebooks</a></li>
      <li><a href="/task">Tasks</a></li>
    </ul>
  <% else %>
    <h1 class="text-center">Welcome, new user!</h1>
    <p class="text-center">
      You must sign in or sign up before you can access our super sweet,
      top secret content.
    </p>
    <div class="row-fluid">
      <div class="text-center">
        <%= link_to "Sign In", new_user_session_path, :class => "btn btn-primary" %>
      </div>
      <p>
      </p>
      <div class="text-center">
        <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-primary" %>
      </div>
      <p>
      </p>
      <div>
      <img src="http://www.totemguard.com/aulatotem/wp-content/uploads/2013/05/evernote_reminders.jpg" style="margin: 0 auto; width: 30%; display: block;">
      </div>
    </div>
          <% end %>

</div>
