<div class="container">
  <article class="row notebook">
    <ul>
      <li class="col-md-2"><strong><%= @notebook.subject %></strong></li>
      <li class="col-md-2"><a href="<%= root_path %>" class="btn btn-info"> Back </a></li>
      <li class="col-md-2"><a href="<%= notebooks_path(@notebook.id) %>" data-method="delete" class="btn btn-danger"> Delete </a></li>
    </ul>
  </article>
</div>
