<div class="container">
<h1 class="text-center">Mew Task</h1>
<h2 class="text-center">Create a new task using the form below</h2>
  <div class="container">
    <div class="panel panel-primary dialog-panel">

    </div>
  </div>
</div>
